$btn-color: #ff718e;

footer {
  padding: 4rem 2rem;
  background-color: #0c002b;
  color: white;

  .phones-img {
    height: 332px;
    width: 100%;
  }
  .play-store {
    width: 178px;
    height: 24%;
    margin-left: 14px;
  }
  .app-store {
    width: 177px;
    height: 22%;
  }
  a {
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    &:hover,
    &:focus,
    &:active,
    &:active:focus:not(:disabled):not(.disabled) {
      box-shadow: none !important;
      outline: 0;
      text-decoration: none;
      color: white;
      // background-color: $btn-color;
      border-color: $btn-color;
    }
  }
  li {
    padding: 16px 0;
  }
  #nav-item-btn {
    padding-top: 15px;
    a {
      font-weight: 500;
      font-size: 1rem;
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
  //   Override the .btn-primary class onclick effect
  .btn-primary {
    border-radius: 5px;
    padding: 7px 25px;
    background-color: $btn-color;
    border-color: $btn-color;
    &:hover,
    &:focus,
    &:active,
    &:active:focus:not(:disabled):not(.disabled) {
      box-shadow: none !important;
      outline: 0;
      text-decoration: none;
      background-color: $btn-color;
      border-color: $btn-color;
    }
  }
}

/*Laptop Devices*/
@media only screen and (min-width: 1200px) {
  footer {
    .col-sm-4 {
      max-width: 45%;

      .phones-img{
        max-width: 340px;
        height: 332px;
      }
    }
    .col-sm-4.footer-links {
      max-width: 10%;
    }
    .col-sm-4.store-icons {
      flex: 0 0 45.333333%;
    }
  }
}
/*Tablet Devices*/
@media only screen and (max-width: 1199px) {
  footer {
    .col-sm-4{
      max-width: 100%;
      flex: 100%;
      text-align: center;

      .phones-img{
        max-width: 340px;
        height: 332px;
      }
    }
    .col-sm-4.store-icons{
      max-width: 100%;
      flex: 100%;
      margin-top: 20px;
      text-align: center;

      h3 {
      margin-top: 37px;
      margin-bottom: 37px;
      font-size: 1.77rem;
      }

      .play-store {
      height: 50%;
    }
    .app-store {
      height: 50%;
    }
    }
    .col-sm-4.footer-links{
      max-width: 100%;
      margin-top: 37px;
      text-align: center;

      ul {
      margin-top: 20px;
    }
    }
  }
}
/*Mobile devices*/
@media only screen and (max-width: 767px) {
  footer {
    .col-sm-4{
      max-width: 100%;
      flex: 100%;
      text-align: center;

      .phones-img{
        max-width: 340px;
        height: 332px;
      }
    }
    
    .col-sm-4.store-icons{
      max-width: 100%;
      flex: 100%;
      margin-top: 20px;
      text-align: center;

      h3 {
      margin-top: 37px;
      margin-bottom: 37px;
      font-size: 1.77rem;
      }

      .play-store {
      height: 50%;
    }
    .app-store {
      height: 50%;
    }
    }
    
    .col-sm-4.footer-links{
      max-width: 100%;
      margin-top: 37px;
      text-align: center;

      ul {
      margin-top: 20px;
    }
    }
    
  }
}