/* Listings CSS */
@media only screen and (max-width: 767px) {
  .container-fluid .row .col-md-12.align-items-end {
    padding-top: 1rem; }
    .container-fluid .row .col-md-12.align-items-end .form-group .form-field.search-box {
      position: relative;
      display: inline-flex; }
      .container-fluid .row .col-md-12.align-items-end .form-group .form-field.search-box input.form-control {
        width: 28.2rem; }
      .container-fluid .row .col-md-12.align-items-end .form-group .form-field.search-box i.fas {
        position: absolute;
        right: 11px;
        top: 11px;
        cursor: pointer; }
  .container-fluid #filter-and-sort-row {
    padding-bottom: 1rem; }
  .container-fluid #filter.row .col-lg-3.bg-light {
    max-width: 483.11px;
    border-radius: 5px;
    border: 1px solid #ced4da; }
    .container-fluid #filter.row .col-lg-3.bg-light #property-btn {
      border: 1px solid #ced4da; }
    .container-fluid #filter.row .col-lg-3.bg-light ul.dropdown-menu.checkbox-menu.allow-focus.w-100 {
      max-width: 94%;
      top: -1px; }
      .container-fluid #filter.row .col-lg-3.bg-light ul.dropdown-menu.checkbox-menu.allow-focus.w-100 .dropdown-menu-arrow {
        top: -25px;
        left: 50%;
        width: 0;
        height: 0;
        position: relative; }
        .container-fluid #filter.row .col-lg-3.bg-light ul.dropdown-menu.checkbox-menu.allow-focus.w-100 .dropdown-menu-arrow:before, .container-fluid #filter.row .col-lg-3.bg-light ul.dropdown-menu.checkbox-menu.allow-focus.w-100 .dropdown-menu-arrow:after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-width: 7px 8px;
          border-style: solid;
          border-color: transparent;
          z-index: 1001; }
        .container-fluid #filter.row .col-lg-3.bg-light ul.dropdown-menu.checkbox-menu.allow-focus.w-100 .dropdown-menu-arrow:after {
          bottom: -18px;
          right: -8px;
          border-bottom-color: #fff; }
        .container-fluid #filter.row .col-lg-3.bg-light ul.dropdown-menu.checkbox-menu.allow-focus.w-100 .dropdown-menu-arrow:before {
          bottom: -17px;
          right: -8px;
          border-bottom-color: rgba(0, 0, 0, 0.15); } }

footer {
  padding: 4rem 2rem;
  background-color: #0c002b;
  color: white; }
  footer .phones-img {
    height: 332px;
    width: 100%; }
  footer .play-store {
    width: 178px;
    height: 24%;
    margin-left: 14px; }
  footer .app-store {
    width: 177px;
    height: 22%; }
  footer a {
    list-style: none;
    color: white;
    font-weight: 500;
    font-size: 1rem; }
    footer a:hover, footer a:focus, footer a:active, footer a:active:focus:not(:disabled):not(.disabled) {
      box-shadow: none !important;
      outline: 0;
      text-decoration: none;
      color: white;
      border-color: #ff718e; }
  footer li {
    padding: 16px 0; }
  footer #nav-item-btn {
    padding-top: 15px; }
    footer #nav-item-btn a {
      font-weight: 500;
      font-size: 1rem;
      text-decoration: none;
      color: white; }
      footer #nav-item-btn a:hover {
        text-decoration: none;
        color: white; }
  footer .btn-primary {
    border-radius: 5px;
    padding: 7px 25px;
    background-color: #ff718e;
    border-color: #ff718e; }
    footer .btn-primary:hover, footer .btn-primary:focus, footer .btn-primary:active, footer .btn-primary:active:focus:not(:disabled):not(.disabled) {
      box-shadow: none !important;
      outline: 0;
      text-decoration: none;
      background-color: #ff718e;
      border-color: #ff718e; }

/*Laptop Devices*/
@media only screen and (min-width: 1200px) {
  footer .col-sm-4 {
    max-width: 45%; }
    footer .col-sm-4 .phones-img {
      max-width: 340px;
      height: 332px; }
  footer .col-sm-4.footer-links {
    max-width: 10%; }
  footer .col-sm-4.store-icons {
    flex: 0 0 45.333333%; } }

/*Tablet Devices*/
@media only screen and (max-width: 1199px) {
  footer .col-sm-4 {
    max-width: 100%;
    flex: 100%;
    text-align: center; }
    footer .col-sm-4 .phones-img {
      max-width: 340px;
      height: 332px; }
  footer .col-sm-4.store-icons {
    max-width: 100%;
    flex: 100%;
    margin-top: 20px;
    text-align: center; }
    footer .col-sm-4.store-icons h3 {
      margin-top: 37px;
      margin-bottom: 37px;
      font-size: 1.77rem; }
    footer .col-sm-4.store-icons .play-store {
      height: 50%; }
    footer .col-sm-4.store-icons .app-store {
      height: 50%; }
  footer .col-sm-4.footer-links {
    max-width: 100%;
    margin-top: 37px;
    text-align: center; }
    footer .col-sm-4.footer-links ul {
      margin-top: 20px; } }

/*Mobile devices*/
@media only screen and (max-width: 767px) {
  footer .col-sm-4 {
    max-width: 100%;
    flex: 100%;
    text-align: center; }
    footer .col-sm-4 .phones-img {
      max-width: 340px;
      height: 332px; }
  footer .col-sm-4.store-icons {
    max-width: 100%;
    flex: 100%;
    margin-top: 20px;
    text-align: center; }
    footer .col-sm-4.store-icons h3 {
      margin-top: 37px;
      margin-bottom: 37px;
      font-size: 1.77rem; }
    footer .col-sm-4.store-icons .play-store {
      height: 50%; }
    footer .col-sm-4.store-icons .app-store {
      height: 50%; }
  footer .col-sm-4.footer-links {
    max-width: 100%;
    margin-top: 37px;
    text-align: center; }
    footer .col-sm-4.footer-links ul {
      margin-top: 20px; } }

#home-banner {
  background-image: url("https://d29u17ylf1ylz9.cloudfront.net/haven-preview/haven/img/slider/3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 82px); }
  #home-banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3); }
  #home-banner .fa-search {
    color: #0c002b; }

@media (min-width: 500px) {
  #home-banner .search-box {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0%, 40px);
    padding-left: 25%; } }

header {
  background: #0c002b;
  color: white;
  overflow: auto;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 1rem; }

#nav-css {
  padding: 7px 20px;
  font-weight: 500;
  font-size: 1rem;
  float: right;
  align-items: flex-end; }

.nav-item {
  padding: 0 20px; }

#nav-item-btn a {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: white; }
  #nav-item-btn a:hover {
    text-decoration: none;
    color: white; }

#nav-item-btn .btn-primary {
  border-radius: 5px;
  padding: 7px 25px;
  background-color: #ff718e;
  border-color: #ff718e; }
  #nav-item-btn .btn-primary:hover, #nav-item-btn .btn-primary:focus, #nav-item-btn .btn-primary:active, #nav-item-btn .btn-primary:active:focus:not(:disabled):not(.disabled) {
    box-shadow: none !important;
    outline: 0;
    text-decoration: none;
    background-color: #ff718e;
    border-color: #ff718e; }

#container-fluid-nav {
  padding-right: 0; }

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer; }

nav {
  overflow: auto; }

@media (min-width: 657px) {
  .navbar-expand-custom .navbar-nav {
    flex-direction: row; }
  .navbar-expand-custom .navbar-collapse {
    display: contents !important; }
  .navbar-expand-custom .navbar-toggler {
    display: none; } }
