@import "listings";
@import "bannerArea";
@import "header";

@media (min-width: 657px) {
    .navbar-expand-custom {
      /* flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start; */
      /* padding: 7px 20px !important; */
    }
  
    .navbar-expand-custom .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-custom .navbar-collapse {
      display: contents !important;
    }
    .navbar-expand-custom .navbar-toggler {
      display: none;
    }
  }