header{
    background: #0C002B;
    color: white;
    overflow: auto;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 1rem;
}
#register-btn {
    background: #FF718E;
    text-align: center;
    padding: 7px 25px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}
#register-btn:focus {
    outline:0;
}
#toggle-btn{
    /* flex: auto; */
}
#nav-css {
    color: red;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 1rem;
}
.nav-item{
    padding: 0 20px;
}
/* @media (max-width: 650px){
    
    
} */
