header {
  background: #0c002b;
  color: white;
  overflow: auto;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 1rem;
}
#register-btn {
  background: #ff718e;
  text-align: center;
  padding: 7px 25px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
#register-btn:focus {
  outline: 0;
}
#nav-css {
  color: red;
  padding: 7px 20px;
  font-weight: 500;
  font-size: 1rem;
  float: right;
  align-items: flex-end;
}
.nav-item {
  padding: 0 20px;
}
#nav-item-btn {
  padding: 0 0 0 20px;
}
#container-fluid-nav {
  padding-right: 0;
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
nav {
  overflow: auto;
}
#home-banner{
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 82px);
}
@media (min-width: 657px) {
  .navbar-expand-custom {
    /* flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start; */
    /* padding: 7px 20px !important; */
  }

  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-collapse {
    display: contents !important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}
