/* new neumorphism buttons css starts here */
#radioBtns {
  position: absolute;
  bottom: 75%;
  background: #ededed;
  background: #fff;
  border-radius: 0.25rem;
  padding: 0 !important;
}
#radioBtns.listingsPage {
  position: initial;
  margin-left: 15px;
}
#radioBtns .form-check-input {
  display: none;
}
#radioBtns .btn-group-container {
  border-radius: 6px;
  background: #ededed;
  box-shadow: inset 5px 5px 10px #c9c9c9, inset -5px -5px 10px #ffffff;
}
#radioBtns .btn-primary {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 10px 40px 10px 40px;
}
#radioBtns .btn-primary:not(:disabled):not(.disabled):active,
#radioBtns .btn-primary:not(:disabled):not(.disabled).active,
#radioBtns .show > .btn-primary.dropdown-toggle {
  border-radius: 6px;
  background: linear-gradient(0deg, #e5e5e5, #ededed);
  box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
  color: black;
}

#radioBtns .btn-primary:hover {
  border-radius: 6px;
  background: linear-gradient(90deg, #f2f2f2, #ededed);
  box-shadow: 5px 5px 10px #c9c9c9, -5px -5px 10px #ffffff;
  color: black;
}
/*  */

@media (max-width: 651px) {
  #radioBtns.listingsPage {
    position: relative;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    margin-left: 0px;
  }
  #radioBtns.listingsPage div {
    width: 290px;
  }
}
