#carouselExampleIndicators .carousel-dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
}
#carouselExampleIndicators .carousel-dot:hover {
  opacity: 1;
}
#carouselExampleIndicators .carousel-item {
  cursor: pointer;
}

.carousel-control-next,
.carousel-control-prev {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}
