footer {
  /* position: absolute;
    bottom: 0;
    width: 100%; */
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 332px;
  padding: 3rem 2rem;
  background-color: #0c002b;
  color: white;
}

footer .phones-img {
  height: 332px;
  width: 100%;
}

footer .play-store {
  width: 178px;
  height: 24%;
  margin-left: 14px;
}

footer .app-store {
  width: 177px;
  height: 22%;
}

footer a {
  list-style: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

footer a:hover,
footer a:focus,
footer a:active,
footer a:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
  text-decoration: none;
  color: white;
  border-color: #ff718e;
}

footer li {
  padding: 16px 0;
}

footer #nav-item-btn {
  padding-top: 15px;
}

footer #nav-item-btn a {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

footer #nav-item-btn a:hover {
  text-decoration: none;
  color: white;
}

footer .btn-primary {
  border-radius: 5px;
  padding: 7px 25px;
  background-color: #ff718e;
  border-color: #ff718e;
}

footer .btn-primary:hover,
footer .btn-primary:focus,
footer .btn-primary:active,
footer .btn-primary:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0;
  text-decoration: none;
  background-color: #ff718e;
  border-color: #ff718e;
}
