input[type="search"i]::-webkit-search-cancel-button {
  right: 45px;
  position: absolute;
  cursor: pointer;
}

/* Home Page Start */
#home-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 82px);
}

#home-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

#home-banner .overlay .home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home-banner .row .col-md-12 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
}

/* Home Page End */

/* Listings CSS Start*/

/* Filter & Listings Work Here */
/* .container-fluid .row {
    padding: 1rem 15px 1rem 15px; 
} */

/* Filter CSS Start */
.checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin: 0;
  transition: background-color 0.4s ease;
}

.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.container-fluid .row .col-md.bg-light {
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  max-height: 632px;
  margin: 1rem 15px 1rem 15px;
}

.container-fluid .row .col-md.bg-light #property-btn {
  border: 1px solid #ced4da;
}

.container-fluid .row .col-md.bg-light ul.dropdown-menu.checkbox-menu.w-100 {
  max-width: 90%;
  top: -1px;
}
/* arrow  start*/
.container-fluid
  .row
  .col-md.bg-light
  ul.dropdown-menu.checkbox-menu.w-100
  .dropdown-menu-arrow {
  top: -25px;
  left: 50%;
  width: 0;
  height: 0;
  position: relative;
}

.container-fluid
  .row
  .col-md.bg-light
  ul.dropdown-menu.checkbox-menu.w-100
  .dropdown-menu-arrow:before,
.container-fluid
  .row
  .col-md.bg-light
  ul.dropdown-menu.checkbox-menu.w-100
  .dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.container-fluid
  .row
  .col-md.bg-light
  ul.dropdown-menu.checkbox-menu.w-100
  .dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}

.container-fluid
  .row
  .col-md.bg-light
  ul.dropdown-menu.checkbox-menu.w-100
  .dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}
/* arrow  end*/
/* Filter CSS End */

/* Property Details CSS Start */
/*------------------------------------------------------------------
[Table of contents]

1.	Typography
2.	Layout
3.	Header
4.	Components
5.	Titles
6.	Search Form
7.	Form Elements
8.	Buttons
9.	Item Listings
10.	Gallery
11.	Map
12.	Utilities
13.	Sidebar
14.	Footer
15.	Demo

*/
/*	1.	Typography
-------------------------------------------------------------------*/

#mainPropertyDetals {
  color: #626262;
  font-family: "Libre Franklin", sans-serif;
  font-size: 100%;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
}

/* Headings 
------------------------------------
*/
#mainPropertyDetals h1,
#mainPropertyDetals h2,
#mainPropertyDetals h3,
#mainPropertyDetals h4,
#mainPropertyDetals h5,
#mainPropertyDetals h6 {
  margin: 10px 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 500;
  color: #2c2c2c;
}

#mainPropertyDetals h1 {
  font-size: 44px;
  line-height: 55px;
  letter-spacing: -0.08px;
}

#mainPropertyDetals h2 {
  font-size: 31px;
  line-height: 40px;
}

#mainPropertyDetals h3 {
  font-size: 27px;
  line-height: 35px;
}

#mainPropertyDetals h4 {
  font-size: 22px;
  line-height: 31.88px;
}

#mainPropertyDetals h5 {
  font-size: 18px;
  line-height: 25.88px;
}

#mainPropertyDetals h3 small,
#mainPropertyDetals h4 small,
#mainPropertyDetals h5 small {
  font-weight: 300;
}

#mainPropertyDetals h1.block,
#mainPropertyDetals h2.block,
#mainPropertyDetals h3.block,
#mainPropertyDetals h4.block,
#mainPropertyDetals h5.block,
#mainPropertyDetals h6.block {
  padding-bottom: 10px;
}

/* Lins and Others
------------------------------------
*/
#mainPropertyDetals a {
  text-shadow: none !important;
  color: #584b8d;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s,
    opacity 0.2s linear 0s !important;
}

#mainPropertyDetals a:focus,
#mainPropertyDetals a:hover,
#mainPropertyDetals a:active {
  color: #6d5cae;
}

#mainPropertyDetals a,
#mainPropertyDetals a:focus,
#mainPropertyDetals a:hover,
#mainPropertyDetals a:active {
  outline: 0 !important;
  text-decoration: none;
}

#mainPropertyDetals a[ng-click] {
  cursor: pointer;
}

#mainPropertyDetals br {
  line-height: normal;
  clear: both;
}

#mainPropertyDetals code {
  color: #c64643;
  background-color: #f0f0f0;
}

#mainPropertyDetals code:hover {
  background-color: #fddddd;
}

#mainPropertyDetals p {
  display: block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 22px;
  margin: 0px 0px 10px 0px;
  font-style: normal;
  white-space: normal;
}

#mainPropertyDetals small,
#mainPropertyDetals .small {
  line-height: 18px;
  font-size: 85%;
}

#mainPropertyDetals label.inline {
  display: inline-block;
  position: relative;
  top: 0px;
  font-size: 13px;
}

#mainPropertyDetals ul,
#mainPropertyDetals ol {
  margin-bottom: 10px;
}

#mainPropertyDetals ul > li,
#mainPropertyDetals ol > li {
  padding-left: 3px;
  line-height: 24px;
}

#mainPropertyDetals ul.lg-icon > li,
#mainPropertyDetals ol.lg-icon > li {
  font-size: 21px;
}

#mainPropertyDetals ul.lg-icon > li span,
#mainPropertyDetals ol.lg-icon > li span {
  font-size: 14px;
}

#mainPropertyDetals ul.no-style,
#mainPropertyDetals ol.no-style {
  list-style: none;
  padding-left: 5px;
}

#mainPropertyDetals ul.checked_list,
#mainPropertyDetals ol.checked_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainPropertyDetals ul.checked_list li,
#mainPropertyDetals ol.checked_list li {
  padding-left: 30px;
  position: relative;
}

#mainPropertyDetals ul.checked_list li:after,
#mainPropertyDetals ol.checked_list li:after {
  width: 25px;
  display: inline-block;
  text-align: left;
  color: rgba(134, 158, 158, 0.8);
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  position: absolute;
  left: 3px;
  top: 6px;
}

#mainPropertyDetals ul.checked_list li:before,
#mainPropertyDetals ol.checked_list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background: rgba(134, 158, 158, 0.1);
  border-radius: 3px;
}

#mainPropertyDetals ul.checked_list.feature-list,
#mainPropertyDetals ol.checked_list.feature-list {
  margin-bottom: 30px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#mainPropertyDetals ul.checked_list.feature-list.three_cols,
#mainPropertyDetals ol.checked_list.feature-list.three_cols {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

@media (max-width: 767px) {
  #mainPropertyDetals ul.checked_list.feature-list,
  #mainPropertyDetals ol.checked_list.feature-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

#mainPropertyDetals address {
  margin-bottom: 0px;
}

#mainPropertyDetals address a {
  color: #626262;
}

#mainPropertyDetals blockquote {
  padding: 20px;
  background-color: rgba(134, 158, 158, 0.05);
  border-left: 6px solid rgba(134, 158, 158, 0.2);
  position: relative;
  padding-left: 100px;
  margin-bottom: 30px;
}

#mainPropertyDetals blockquote:before {
  content: "\f10d";
  color: rgba(134, 158, 158, 0.3);
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  margin-top: 0;
  margin-left: 0px;
  display: inline-block;
  font-style: italic;
  text-align: center;
}

#mainPropertyDetals blockquote p {
  font-size: 16px;
}

#mainPropertyDetals blockquote.pull-right {
  padding-right: 100px;
  border-right: 6px solid rgba(134, 158, 158, 0.2);
  border-left: none;
  text-align: right;
}

#mainPropertyDetals blockquote.pull-right:before {
  left: auto;
  right: 0;
}

#mainPropertyDetals hr {
  border-color: #e6e6e6;
}

#mainPropertyDetals hr.double {
  border-width: 2px;
}

#mainPropertyDetals hr.dotted {
  border-style: dotted none none;
}

/*	2.	Layout
-------------------------------------------------------------------*/
#mainPropertyDetals {
  background: #fff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#mainPropertyDetals #content {
  padding-top: 30px;
  padding-bottom: 30px;
}

#mainPropertyDetals .boxed {
  background: #e5e5e5;
}

#mainPropertyDetals .boxed #mainPropertyDetals {
  overflow: hidden;
  max-width: 1100px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

#mainPropertyDetals .boxed #menu {
  max-width: 1100px;
}

@media (min-width: 1200px) {
  #mainPropertyDetals .container-1000 {
    max-width: 1000px;
  }
}

/*	3.	Menu
-------------------------------------------------------------------*/
#mainPropertyDetals #menu {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1052;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  background-image: none;
  background-color: #563d7c;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  /* Menu Dropdown */
  /* Mega Menu */
  /* Menu Navbar Over Content */
}

#mainPropertyDetals #menu .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

#mainPropertyDetals #menu .navbar-toggle {
  border-color: #fff;
  margin-top: 23px;
  margin-bottom: 23px;
}

#mainPropertyDetals #menu .navbar-toggle:active,
#mainPropertyDetals menu .navbar-toggle:hover {
  background-color: transparent;
}

#mainPropertyDetals #menu .navbar-form {
  margin-top: 38px;
}

#mainPropertyDetals #menu .nav-item .nav-link {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 50px;
}

@media (max-width: 991px) {
  #mainPropertyDetals #menu .nav-item .nav-link {
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

#mainPropertyDetals #menu .nav-item.show > .nav-link,
#mainPropertyDetals #menu .nav-item.show > .nav-link:focus,
#mainPropertyDetals #menu .nav-item.show > .nav-link:hover,
#mainPropertyDetals #menu .nav-item:focus > .nav-link,
#mainPropertyDetals #menu .nav-item:hover > .nav-link {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#mainPropertyDetals #menu .nav-btn {
  background: none !important;
  padding-right: 0;
}

#mainPropertyDetals #menu .nav-btn > span {
  color: #ffce40;
  font-weight: bold;
  border: 1px solid #ffce40;
  padding: 10px 20px;
  border-radius: 3px;
}

@media (max-width: 991px) {
  #mainPropertyDetals #menu .nav-btn > span {
    line-height: 1;
  }
}

#mainPropertyDetals #menu .nav-btn:hover > span {
  background: #ffce40;
  color: #563d7c;
}

#mainPropertyDetals #menu .nav-btn.nav-btn-link > span {
  border-color: transparent;
}

#mainPropertyDetals #menu .nav-item.user-account .user-image {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin-right: 10px;
}

#mainPropertyDetals #menu.navbar-inverse .navbar-toggle:focus,
#mainPropertyDetals #menu.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

#mainPropertyDetals #menu .dropdown .dropdown-menu {
  font-size: 14px;
}

#mainPropertyDetals #menu .dropdown .dropdown-menu > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

#mainPropertyDetals #menu .dropdown .dropdown-item,
#mainPropertyDetals #menu .dropdown .dropdown-menu a {
  color: #555;
}

@media (min-width: 992px) {
  #mainPropertyDetals #menu .dropdown .dropdown-menu {
    border: none;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s;
    transform: translate3d(0, 15px, 0);
    margin-top: 0;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.1),
      3px 3px 3px -3px rgba(0, 0, 0, 0.1), -3px 3px 3px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.1),
      3px 3px 3px -3px rgba(0, 0, 0, 0.1), -3px 3px 3px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px -3px rgba(0, 0, 0, 0.1),
      3px 3px 3px -3px rgba(0, 0, 0, 0.1), -3px 3px 3px -3px rgba(0, 0, 0, 0.1);
  }

  #mainPropertyDetals #menu .dropdown:hover .dropdown-menu,
  #mainPropertyDetals #menu .dropdown.show .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  #mainPropertyDetals #menu .dropdown > a {
    position: relative;
  }

  #mainPropertyDetals #menu .dropdown > a:hover {
    opacity: 1 !important;
  }

  #mainPropertyDetals #menu .dropdown:hover > .nav-link:before,
  #mainPropertyDetals #menu .dropdown.show > .nav-link:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: 5px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
}

#mainPropertyDetals #menu .megamenu {
  position: static;
}

#mainPropertyDetals #menu .megamenu .dropdown-menu {
  width: 100%;
  border-radius: 0 !important;
  padding: 50px 20px;
}

#mainPropertyDetals #menu.navbar-over {
  background-color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(0, 0, 0, 0.6)),
    color-stop(100% rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -webkit-gradient(
    linear,
    0,
    100%,
    from(rgba(0, 0, 0, 0.6)),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=0);
  background-repeat: repeat-x;
}

#mainPropertyDetals #menu.navbar-over.fixed-top {
  background-image: none;
  background-color: #563d7c;
}

#mainPropertyDetals #menu.navbar-over.absolute-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  #mainPropertyDetals #menu.navbar-over {
    box-shadow: none;
  }

  #mainPropertyDetals #menu.navbar-over .dropdown:hover > a:before {
    margin-top: -10px;
  }

  #mainPropertyDetals #menu.navbar-over .nav-link {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #mainPropertyDetals #menu.navbar-over .navbar-nav > li:hover > a {
    background: none;
  }

  #mainPropertyDetals #menu.navbar-over .navbar-brand {
    height: 110px;
  }

  #mainPropertyDetals #menu.navbar-over .navbar-brand img {
    max-height: 100%;
  }
}

/*	4.	Components
-------------------------------------------------------------------*/
#mainPropertyDetals .well {
  font-size: 16px;
}

#mainPropertyDetals .img-rounded {
  border-radius: 3px;
}

#mainPropertyDetals .lead {
  font-weight: 400;
  margin-bottom: 20px;
}

/* Media */
#mainPropertyDetals .media {
  margin-top: 30px;
}

#mainPropertyDetals .media-left {
  padding-right: 20px;
}

#mainPropertyDetals .media-right {
  padding-left: 20px;
}

/* Table */
#mainPropertyDetals .table.v1 tbody tr:first-child td {
  border-top: none;
}

/* Modal */
#mainPropertyDetals .modal {
  z-index: 1053;
}

#mainPropertyDetals .modal-backdrop {
  z-index: 1052;
}

#mainPropertyDetals .modal-content {
  border-radius: 3px;
}

/* Tabs */
#mainPropertyDetals .nav-tabs {
  margin-bottom: 15px;
}

#mainPropertyDetals .nav-tabs > li > a {
  border-radius: 0;
}

#mainPropertyDetals .nav-tabs > li > .nav-link.active,
#mainPropertyDetals .nav-tabs > li > .nav-link.active:focus,
#mainPropertyDetals .nav-tabs > li > .nav-link.active:hover {
  border-radius: 0;
  border-top: 2px solid #563d7c;
}

#mainPropertyDetals .nav-tabs.tab-lg > li > a {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

#mainPropertyDetals .nav-tabs.tab-lg > li > a.nav-link.active {
  border-top: 4px solid #563d7c;
}

#mainPropertyDetals .nav-tabs.v2 {
  border-bottom: none;
  margin-bottom: 30px;
}

#mainPropertyDetals .nav-tabs.v2 > li > a,
#mainPropertyDetals .nav-tabs.v2 > li > a:focus,
#mainPropertyDetals .nav-tabs.v2 > li > a:hover {
  padding: 15px 20px;
  border: none;
  font-weight: 600;
  position: relative;
  color: #869e9e;
}

#mainPropertyDetals .nav-tabs.v2 > li > a.active:before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(134, 158, 158, 0.1);
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

#mainPropertyDetals .nav-tabs.v2 > li > a.active,
#mainPropertyDetals .nav-tabs.v2 > li > a.active:focus,
#mainPropertyDetals .nav-tabs.v2 > li > a.active:hover {
  background-color: rgba(134, 158, 158, 0.1);
  color: #869e9e;
  border: none;
  border-radius: 3px;
}

#mainPropertyDetals .tab-content {
  margin-bottom: 30px;
}

/* List Group */
#mainPropertyDetals .list-group.no-border .list-group-item {
  border: none;
  margin-bottom: 1px;
  color: #666;
}

#mainPropertyDetals .list-group.no-border .list-group-item:hover {
  background-color: rgba(134, 158, 158, 0.05);
}

#mainPropertyDetals .list-group.no-border .list-group-item.active,
#mainPropertyDetals .list-group.no-border .list-group-item.active:focus,
#mainPropertyDetals .list-group.no-border .list-group-item.active:hover {
  background-color: rgba(134, 158, 158, 0.1);
  border-radius: 3px;
  color: #333;
  font-weight: bold;
}

#mainPropertyDetals .list-group .list-group-item.heading {
  font-weight: bold;
  color: #333;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#mainPropertyDetals .list-group .list-group-item.heading:hover {
  background: none;
}

#mainPropertyDetals .list-group.v2 {
  font-size: 16px;
}

#mainPropertyDetals .list-group.v2 > li {
  padding-top: 10px;
  line-height: 34px;
  padding-bottom: 10px;
  clear: both;
}

#mainPropertyDetals .list-group.v2 > li + li {
  border-top: 1px solid #eee;
}

#mainPropertyDetals .list-group.v2 .icon {
  width: 20px;
  text-align: left;
}

#mainPropertyDetals .list-group.v2 .btn {
  float: right;
}

#mainPropertyDetals .list-group.v2 .connected,
#mainPropertyDetals .list-group.v2 .default {
  float: right;
  margin-right: 15px;
  opacity: 0.6;
  font-size: 14px;
}

#mainPropertyDetals .list-group.v2 .set-default {
  float: right;
  opacity: 0.6;
}

#mainPropertyDetals .list-group.v2 .btn + .set-default {
  margin-right: 20px;
}

#mainPropertyDetals .list-group.v2 .set-default:hover {
  opacity: 1;
}

#mainPropertyDetals .badge {
  background-color: rgba(134, 158, 158, 0.7);
}

/* Breadcrumb*/
#mainPropertyDetals .breadcrumb {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

#mainPropertyDetals .breadcrumb-item a {
  color: #869e9e;
}

#mainPropertyDetals .breadcrumb-item.active {
  color: rgba(134, 158, 158, 0.7);
}

/* pagination was here */

/* Tooltip*/
#mainPropertyDetals .tooltip-inner {
  border-radius: 0;
  background-color: #666;
}

#mainPropertyDetals .tooltip.top .tooltip-arrow {
  border-top-color: #666;
}

#mainPropertyDetals .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #666;
}

#mainPropertyDetals .tooltip.left .tooltip-arrow {
  border-left-color: #666;
}

#mainPropertyDetals .tooltip.right .tooltip-arrow {
  border-right-color: #666;
}

/* Card was here */


/* Login */
#mainPropertyDetals .sign-in-or {
  position: relative;
}

#mainPropertyDetals .sign-in-or span {
  font-size: 24px;
  font-weight: lighter;
  position: absolute;
  left: 20px;
  top: 54px;
}

/* Pricing Table */
#mainPropertyDetals .pricing-column {
  font-size: 16px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #777;
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}

#mainPropertyDetals .pricing-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainPropertyDetals .pricing-column ul li {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

#mainPropertyDetals .pricing-column ul li.title {
  background-color: #eee;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}

#mainPropertyDetals .pricing-column ul li.title small {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

#mainPropertyDetals .pricing-column ul li.price {
  color: #333;
  font-size: 20px;
}

#mainPropertyDetals .pricing-column.popular {
  margin-top: 0;
}

#mainPropertyDetals .pricing-column.popular ul li.title {
  background: #563d7c;
  color: #fff;
}

@media (max-width: 991px) {
  #mainPropertyDetals .pricing-column {
    font-size: 14px;
  }

  #mainPropertyDetals .pricing-column ul li {
    padding: 10px;
  }

  #mainPropertyDetals .pricing-column ul li.title {
    font-size: 18px;
  }
}

/* Social Links */
#mainPropertyDetals .social-sharebox {
  margin-bottom: 30px;
}

#mainPropertyDetals .social-sharebox a {
  font-size: 20px;
  color: #777;
  margin-right: 10px;
}

/* Feature Box */
#mainPropertyDetals .feature-box {
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#mainPropertyDetals .feature-box:not(.gray) + .feature-box:not(.gray) {
  box-shadow: none;
  border-top: 1px solid #eee;
}

#mainPropertyDetals .feature-box.gray {
  background-color: rgba(134, 158, 158, 0.07);
  box-shadow: none;
}

#mainPropertyDetals .feature-box.centered .main-title,
#mainPropertyDetals .centered .main-title-description {
  text-align: center;
}

#mainPropertyDetals .feature-box.centered .main-title span:before {
  left: 50%;
  margin-left: -100px;
}

#mainPropertyDetals .feature-box .content-box .image {
  margin-bottom: 30px;
}

#mainPropertyDetals .feature-box .content-box .icon {
  font-size: 76px;
  color: #ffce40;
  margin-bottom: 30px;
}

#mainPropertyDetals .feature-box .content-box h4 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 20px;
}

#mainPropertyDetals .feature-box .content-box .caption {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

#mainPropertyDetals .feature-box .content-box .button {
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
}

#mainPropertyDetals .feature-box.centered .content-box {
  text-align: center;
}

/*	5.	Titles
-------------------------------------------------------------------*/
#mainPropertyDetals .page-header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0;
  border-bottom: none;
}

#mainPropertyDetals .page-header.bordered {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

#mainPropertyDetals .page-header h1 {
  font-size: 26px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 0;
}

#mainPropertyDetals .page-header h1 small {
  display: block;
  font-size: 18px;
  color: #999;
  margin-top: 5px;
}

#mainPropertyDetals .page-header .btn-return + h1 {
  margin-left: 75px;
}

#mainPropertyDetals .page-header .price {
  color: #d64521;
  margin-left: 15px;
  font-size: 24px;
  line-height: 1.1;
  text-align: right;
  font-weight: bold;
}

@media (max-width: 767px) {
  #mainPropertyDetals .page-header .price {
    text-align: left;
    margin-top: 15px;
    margin-left: 75px;
  }
}

#mainPropertyDetals .page-header .price small {
  display: block;
  font-size: 18px;
  color: #888;
  margin-top: 10px;
  font-weight: normal;
}

#mainPropertyDetals .page-header h1 .label-bordered {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  border: 1px solid rgba(134, 158, 158, 0.5);
  color: rgba(134, 158, 158, 0.9);
}

#mainPropertyDetals .page-header.bordered {
  border-bottom: 1px solid #eee !important;
}

#mainPropertyDetals .page-header.v2 h1 {
  font-size: 26px;
}

#mainPropertyDetals .page-header.v2 h1 small {
  display: inline-block;
}

#mainPropertyDetals .title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

#mainPropertyDetals h4.title {
  margin-top: 40px;
  margin-bottom: 20px;
}

#mainPropertyDetals .headline {
  font-size: 22px;
  margin: 50px 0 25px 0;
  /* padding-bottom: 25px; */
  border-bottom: 1px solid #eaeaea;
  color: #333;
}

#mainPropertyDetals .subheadline {
  font-size: 20px;
  margin: 20px 0 20px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  color: #869e9e;
  font-weight: 500;
}

#mainPropertyDetals .main-title {
  font-size: 28px;
  margin-bottom: 15px;
  line-height: 34px;
  color: #333;
}

#mainPropertyDetals .main-title span {
  position: relative;
  padding-bottom: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

#mainPropertyDetals .main-title span:before {
  content: "";
  height: 1px;
  width: 200px;
  background: #bbb;
  position: absolute;
  bottom: 0;
  left: 0;
}

#mainPropertyDetals .main-title.centered {
  text-align: center;
}

#mainPropertyDetals .main-title.centered span:before {
  left: 50%;
  margin-left: -100px;
}

#mainPropertyDetals .main-title-description {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 30px;
}

/*	7.	Form Elements
-------------------------------------------------------------------*/
#mainPropertyDetals .form-control {
  box-shadow: none;
  border-radius: 2px;
}

#mainPropertyDetals .form-control:focus {
  box-shadow: none !important;
}

#mainPropertyDetals .input-group-lg > .form-control,
#mainPropertyDetals .input-group-lg > .input-group-addon,
#mainPropertyDetals .input-group-lg > .input-group-btn > .btn {
  border-radius: 2px;
}

#mainPropertyDetals .input-group-addon {
  background-color: rgba(134, 158, 158, 0.1);
  border-color: rgba(134, 158, 158, 0.4);
  color: #869e9e;
}

/*	8.	Buttons
-------------------------------------------------------------------*/
#mainPropertyDetals .btn,
#mainPropertyDetals .btn:hover,
#mainPropertyDetals .btn:focus,
#mainPropertyDetals .btn:active,
#mainPropertyDetals .btn:active:hover {
  outline: none;
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s;
}

#mainPropertyDetals .btn-xlg {
  padding: 20px 40px;
  font-size: 20px;
}

#mainPropertyDetals .btn-link,
#mainPropertyDetals .btn-link:focus,
#mainPropertyDetals .btn-link:hover,
#mainPropertyDetals .btn-link:active,
#mainPropertyDetals .btn-link:active:hover,
#mainPropertyDetals .btn-link:active:focus {
  color: #869e9e;
  background-color: rgba(134, 158, 158, 0.1);
}

#mainPropertyDetals .btn-white,
#mainPropertyDetals .btn-white:focus,
#mainPropertyDetals .btn-white:hover,
#mainPropertyDetals .btn-white:active,
#mainPropertyDetals .btn-white:active:hover,
#mainPropertyDetals .btn-white:active:focus {
  background-color: #fff;
  border-color: rgba(134, 158, 158, 0.4);
}

#mainPropertyDetals .btn-primary,
#mainPropertyDetals .btn-primary:focus,
#mainPropertyDetals .btn-primary:hover,
#mainPropertyDetals .btn-primary:active,
#mainPropertyDetals .btn-primary:active:hover,
#mainPropertyDetals .btn-primary:active:focus {
  background-color: #ffce40;
  border-color: #ffce40;
  color: #563d7c;
}

#mainPropertyDetals .btn-light {
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(270deg, #fafbfc 0%, #eff3f6 90%);
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

#mainPropertyDetals .btn-return {
  display: inline-block;
  margin-right: 15px;
  color: #666;
  font-size: 28px;
  width: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: rgba(134, 158, 158, 0.15);
  border-radius: 3px;
  font-weight: bold;
  float: left;
}

#mainPropertyDetals .btn-return:focus,
#mainPropertyDetals .btn-return:hover,
#mainPropertyDetals .btn-return:active,
#mainPropertyDetals .btn-return:active:hover,
#mainPropertyDetals .btn-return:active:focus {
  background: rgba(134, 158, 158, 0.3);
}

.btn-circle,
.btn-circle:hover,
.btn-circle:active,
.btn-circle:focus {
  height: 34px;
  width: 34px;
  line-height: 34px;
  padding: 0;
  border-radius: 50%;
}

.btn#to-top {
  width: 52px;
  height: 52px;
  position: fixed;
  z-index: 999999;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
  background-color: #0c002b;
}

#mainPropertyDetals .item-features {
  padding: 20px;
  margin: 0;
  list-style: none;
  margin-bottom: 30px;
  background-color: rgba(134, 158, 158, 0.1);
  border-radius: 3px;
}

#mainPropertyDetals .item-features li {
  font-size: 18px;
  color: #888;
  display: inline-block;
  margin-right: 44px;
  padding: 0;
  line-height: 30px;
}

@media (max-width: 767px) {
  #mainPropertyDetals .item-features li {
    font-size: 14px;
    margin-right: 20px;
    line-height: 30px;
  }

  #mainPropertyDetals .item-features li span {
    font-size: 18px;
  }
}

#mainPropertyDetals .item-features li span {
  color: #333;
  font-weight: bold;
  display: block;
}

#mainPropertyDetals .item-navigation {
  margin-top: 60px;
  margin-bottom: 30px;
}

#mainPropertyDetals .item-gallery {
  margin-bottom: 20px;
}

#mainPropertyDetals #streetview iframe,
#map iframe {
  width: 100%;
}

/*	13.	Utilities
-------------------------------------------------------------------*/
/* Utility Classes*/
#mainPropertyDetals .mt0 {
  margin-top: 0 !important;
}

#mainPropertyDetals .mb0 {
  margin-bottom: 0 !important;
}

#mainPropertyDetals .ml0 {
  margin-left: 0 !important;
}

#mainPropertyDetals .mr0 {
  margin-right: 0 !important;
}

#mainPropertyDetals .pt0 {
  padding-top: 0 !important;
}

#mainPropertyDetals .pb0 {
  padding-bottom: 0 !important;
}

#mainPropertyDetals .pl0 {
  padding-left: 0 !important;
}

#mainPropertyDetals .pr0 {
  padding-right: 0 !important;
}

#mainPropertyDetals .mt50 {
  margin-top: 50px !important;
}

#mainPropertyDetals .mb50 {
  margin-bottom: 50px !important;
}

#mainPropertyDetals .mt5 {
  margin-top: 5px !important;
}

/*	13.	Sidebar
-------------------------------------------------------------------*/
/* .col-sidebar {
    z-index: 1;
} */

#mainPropertyDetals #sidebar {
  will-change: min-height;
  /* Filters */
}

#mainPropertyDetals #sidebar .sidebar_inner {
  transform: translate(0, 0);
  /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

#mainPropertyDetals #sidebar .card .card-header {
  padding: 0;
  background: none;
  font-weight: 600;
  font-size: 16px;
  border-bottom-color: rgba(134, 158, 158, 0.3);
}

#mainPropertyDetals #sidebar .card .card-header .panel-title {
  font-weight: 600;
  font-size: 16px;
}

#mainPropertyDetals #sidebar .card .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

#mainPropertyDetals #sidebar #filters {
  margin-bottom: 30px;
}

#mainPropertyDetals #sidebar #filters .card {
  padding: 0;
  box-shadow: none;
  margin-bottom: 0;
}

#mainPropertyDetals #sidebar #filters .card .collapse.show {
  border-bottom: 1px solid rgba(134, 158, 158, 0.3);
}

#mainPropertyDetals #sidebar #filters .card .card-header {
  padding: 0;
  background: none;
  font-weight: 600;
  font-size: 16px;
  border-bottom-color: rgba(134, 158, 158, 0.3);
}

#mainPropertyDetals #sidebar #filters .card .card-header a {
  font-weight: 600;
  font-size: 16px;
  display: block;
  color: #869e9e;
}

#mainPropertyDetals #sidebar #filters .card .card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  #mainPropertyDetals #sidebar.sidebar-left .sidebar_inner {
    padding-right: 30px;
    border-right: 1px solid #eee;
  }

  #mainPropertyDetals #sidebar.sidebar-right .sidebar_inner {
    padding-left: 30px;
    border-left: 1px solid #eee;
  }
}

/*# sourceMappingURL=style.css.map */

/* Property Details CSS End */

.main-container {
  position: relative;
  min-height: 100vh;
}

/* .content-wrap {
  padding-bottom: 428px;
} */

tbody.scrollContent {
  width: 300px;
  height: 300px;
  overflow-x: auto;
  overflow-y: hidden;
}
